.center {
margin-left:auto;
margin-right:auto;
display: block;
}

#images{
text-align:center;
}

.sameline{
display: inline-block;
margin-left: auto;
margin-right: auto;
}

/*Source for Speech Bubble Creation: https://projects.verou.me/bubbly/*/

.speech-bubble {
	position: relative;
	border-radius: .4em;
	padding:5px;
	margin-bottom:10px;
	min-height: 120px;
	min-width: 500px;
	max-width: 750px;
	display: inline-block;
}

.prosecution-left {
	background: #d09597;
	text-align: left;
	margin-right:auto;
	margin-left: 0;
}

.prosecution-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left: 0;
	border-bottom: 0;
	border-right-color: #d09597;
	margin-top: -10px;
	margin-left: -20px;
}

.prosecution-image-left{
  background: url(Prosecutor.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: left;
}

.prosecution-right {
	background: #d09597;
	text-align: right;
	margin-right:0;
	margin-left: auto;
}

.prosecution-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right: 0;
	border-bottom: 0;
	border-left-color: #d09597;
	margin-top: -10px;
	margin-right: -20px;
}

.prosecution-image-right{
  background: url(Prosecutor.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: right;
}

.prosecution-center {
	background: #d09597;
	text-align: center;
	margin-right:15%;
	margin-left: 15%;
}

.prosecution-center:after {
	content: '';
	position: absolute;
	right: 50%;
	top: -18px;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #d09597;
}

.firearms-image-right{
  background: url(Firearms.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: right;
}

.firearms-right{
 	background: #ea9a5d;
 	text-align: right;
 	margin-right:0;
	margin-left: auto;
}

.firearms-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ea9a5d;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.firearms-image-left{
  background: url(Firearms.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: left;
}

.firearms-left{
 	background: #ea9a5d;
 	text-align: left;
 	margin-right:auto;
	margin-left: 0;
}

.firearms-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #ea9a5d;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.firearms-center{
 	background: #ea9a5d;
 	text-align: center;
 	margin-right: 15%;
	margin-left: 15%;
}

.firearms-center:after {
 content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ea9a5d;
  right: 50%;
  top: -18px;
}

.algorithm-right {
	background: #fff785;
	text-align: right;
	margin-right:0;
	margin-left: auto;
}

.algorithm-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #fff785;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.algorithm-image-right{
  background: url(Algorithm.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: right;
}

.algorithm-image-left{
  background: url(Algorithm.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: left;
}

.algorithm-left{
 	background: #fff785;
 	text-align: left;
 	margin-right:auto;
	margin-left: 0;
}

.algorithm-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #fff785;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.algorithm-center{
 	background: #fff785;
 	text-align: center;
 	margin-right: 15%;
	margin-left: 15%;
}

.algorithm-center:after {
 content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff785;
  right: 50%;
  top: -18px;
}
.court-left {
	background: #e8e8e8;
	text-align: left;
	margin-right:auto;
	margin-left: 0;

}

.court-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e8e8e8;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.court-image-right{
  background: url(Judge.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: right;
}

.court-right {
	background: #e8e8e8;
	text-align: right;
	margin-right:0;
	margin-left: auto;

}

.court-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #e8e8e8;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.court-center {
	background: #e8e8e8;
	text-align: center;
	margin-left:15%;
margin-right:15%;
}

.court-center:after {
 content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8;
  right: 50%;
  top: -18px;
}

.court-image-left{
  background: url(Judge.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: left;
}

.defense-image-left{
  background: url(Defense.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: left;
}

.defense-left {
	background: #bba3c7;
	text-align: left;
	margin-right:auto;
	margin-left: 0;

}

.defense-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #bba3c7;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.defense-image-right{
  background: url(Defense.png) no-repeat center center;
  background-size: 75px;
	width: 75px;
	height: 120px;
	position: relative;
	float: right;
}

.defense-right {
	background: #b396c2;
	text-align: right;
	margin-right:0;
	margin-left: auto;

}

.defense-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #b396c2;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.defense-center{
 	background: #b396c2;
 	text-align: center;
 	margin-right: 15%;
	margin-left: 15%;
}

.defense-center:after {
 content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #b396c2;
  right: 50%;
  top: -18px;
}

.left-text{
  min-width: 400px;
  float: left;
  max-width: 500px;
}

.right-text{
  min-width: 500px;
  float: right;
  max-width:500px;
}
